{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

{% include 'catalog.html' %}

{% include 'burger_nav.html' %}

{% include 'mobile_nav.html' %}


<!--    <script src="{% static 'outletauto/assets/js/dropped.js' %}"></script>-->
    <script src="{% static 'outletauto/assets/js/elem-shiow.js' %}"></script>
    <script src="{% static 'outletauto/assets/js/tabs.js' %}"></script>
<!--    <script src="{% static 'outletauto/assets/js/&#45;&#45;authorization.js' %}"></script>-->
    <script src="{% static 'outletauto/assets/js/registration.js' %}"></script>
<!--        <script src="{% static 'outletauto/assets/js/page-main.js' %}"></script>-->
<!--    <script src="{% static 'outletauto/assets/js/show-arrow.js' %}"></script>-->
<!--    <script src="{% static 'outletauto/assets/js/news-slider.js' %}"></script>-->


{% endblock %}