{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'outletauto/assets/css/style.css' %}">
</head>
<!-- oncontextmenu="return false;" -->

<body>
    <div class="offer">
        <header>
            <div class="container">
                <div class="pc-header">
                    <div class="header-row-1">
                        <div class="logotype-wrapper header-logotype">
                            <img src="{% static 'outletauto/assets/imgs/logotype.svg' %}" alt="logotype" class="logotype">
                        </div>
                        <form class="header-search search" action="#">
                            <input type="text" class="search-input" placeholder="Поиск по артикулу или VIN коду">
                            <button class="search-btn red-btn">Найти</button>
                        </form>
                        <ul class="header-contact">
                            <li><a href="#">Адреса магазинов</a></li>
                            <li><a href="#">8 (800) 777-99-80</a></li>
                        </ul>
                    </div>
                    <div class="header-row-2">
                        <div class="burger-wrapper burger-btns">
                            <div class="burger-nav">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul class="header-nav">
                            <li><a href="#">Оплатить заказ</a></li>
                            <li><a href="#">Каталог</a></li>
                            <li><a href="#">Новости</a></li>
                        </ul>
                        <ul class="header-account">
                            <li>

                                {% if user.is_authenticated %}
                                    {% csrf_token %}
<!--                                    <div id="myBtn" style="cursor: pointer;">Личный кабинет</div>-->
                                    <a href="{% url 'account_profile' %}">Личный кабинет</a>/
                                    <a href="{% url 'account_logout' %}" class="logout-link">Выйти из аккаунта</a>
                                {% else %}
                                    {% load socialaccount %}
                                    {% csrf_token %}
                                    <a href="{% url 'account_login' %}">Войти</a>/
                                    <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-header">
                    <div class="header-row-1">
                        <div class="burger-wrapper">
                            <div class="burger-nav">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <form class="header-search search" action="#">
                            <input id="header-search" type="text" class="search-input"
                                placeholder="Поиск по артикулу или VIN коду">
                            <button class="search-btn red-btn">Найти</button>
                        </form>
                    </div>
                    <div class="header-row-2">
                        <ul class="header-account">
                            <li>
<!--                                <div id="myBtn">Личный кабинет</div>-->
                                {% if user.is_authenticated %}
                                    <a href="{% url 'account_dashboard' %}">Личный кабинет</a>/
                                    <a href="{% url 'account_logout' %}" class="logout-link">Выйти из аккаунта</a>
                                {% else %}
                                    <a href="{% url 'account_login' %}">Войти</a>
                                {% endif %}

                            </li>
                        </ul>
                        <ul class="header-contact">
                            <li><a href="#">Адреса магазинов</a></li>
                            <li><a href="#">8 (800) 777-99-80</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="offer-content">
                <div class="content-wrapper">
                    <h1 class="title">Запчасти в интернет-магазине <br> OutletAuto</h1>

                    <div class="w-100">
                        <div class="content-column">
                            <div class="left-content">
                                <div class="content-search-wrapper">
                                    <form class="content-search search" action="#">
                                        <input id="header-search" type="text" class="search-input"
                                            placeholder="Поиск по артикулу или VIN коду">
                                        <button class="search-btn red-btn">Найти</button>
                                    </form>
                                    <div class="example">
                                        <span>Например: WUBH54B11N111054 </span>
                                        <span class="underline">Что такое VIN-код и FRAME?</span>
                                    </div>
                                </div>
                                <div class="transparent-wrapper transparent-wrapper-pc">
                                    <button class="transparent-btn">
                                        <div class="arrow">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        Каталоги
                                        <ul class="dropped" data-height="333">
                                            <span>Каталоги</span>
                                            <li><a href="#">Оригинальные запчасти</a></li>
                                            <li><a href="#">Запчасти для ТО</a></li>
                                            <li><a href="#">Каталоги TecDoc</a></li>
                                            <li><a href="#">Шины и диски</a></li>
                                            <li><a href="#">Масла и тех. жидкости</a></li>
                                            <li><a href="#">Доб. оборудование</a></li>
                                            <li><a href="#">Инструмент</a></li>
                                            <li><a href="#">Автохимия и косметика</a></li>
                                            <li><a href="#">Щетки, лампы, аксессуары</a></li>
                                        </ul>
                                    </button>
                                    <button class="transparent-btn">
                                        <div class="arrow">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        Популярные детали
                                        <ul class="dropped" data-height="363">
                                            <span>Каталоги</span>
                                            <li><a href="#">Популярные детали</a></li>
                                            <li><a href="#">Свет и электрика</a></li>
                                            <li><a href="#">Электроинструменты</a></li>
                                            <li><a href="#">Садовая техника</a></li>
                                            <li><a href="#">Ручные инструменты</a></li>
                                            <li><a href="#">Бытовая химия</a></li>
                                            <li><a href="#">Канцтовары</a></li>
                                            <li><a href="#">Детские товары</a></li>
                                            <li><a href="#">Велосипеды</a></li>
                                            <li><a href="#">Туризм, рыбалка</a></li>
                                        </ul>
                                    </button>
                                </div>
                            </div>
                            <div class="offer-btn-wrapper">
                                <div class="circle-btn-wrapper">
                                    <a href="#" class="circle-btn">
                                        <div class="circle">
                                            <div class="cirle-content">
                                                <img src="{% static 'outletauto/assets/imgs/icon/bi_people.svg' %}" alt="present">
                                            </div>
                                        </div>
                                        <span>Вступить в клуб</span>
                                    </a>
                                </div>
                                <div class="circle-btn-wrapper">
                                    <a href="#" class="circle-btn">
                                        <div class="circle">
                                            <div class="cirle-content">
                                                <img src="{% static 'outletauto/assets/imgs/icon/present.svg' %}" alt="present">
                                            </div>
                                        </div>
                                        <span>Получить подарок</span>
                                    </a>
                                </div>
                            </div>
<!--                            <div class="empty-content"></div>-->
<!--                            <div class="right-content">-->
<!--                                <div class="content-search-wrapper news" >-->
<!--                                    <div class="main-news">-->
<!--                                        <div class="title-news">Новости</div>-->
<!--                                        <div id="news-slider" style="width:240px; height: 200px;">-->
<!--                                            {% for new in news %}-->
<!--                                                <a href="{{new.link}}" style="width:240px; height: 240px;">-->
<!--                                                    <div class="news" style="width:240px; height: 150px;background-image: url('{{new.image}}'); background-size: cover; background-repeat: no-repeat;  ">-->

<!--                                                    </div>-->
<!--                                                    <h6 style="font-size:12px;">{{new.title}}</h6>-->
<!--                                                </a>-->
<!--                                            {% endfor %}-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="transparent-wrapper transparent-wrapper-mobile">
                                <button class="transparent-btn">
                                    <div class="arrow">
                                        <span></span>
                                        <span></span>
                                    </div>
                                    Каталоги
                                    <ul class="dropped" data-height="333">
                                        <span>Каталоги</span>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                        <li><a href="#">Оригинальные запчасти</a></li>
                                    </ul>
                                </button>
                                <button class="transparent-btn">
                                    <div class="arrow">
                                        <span></span>
                                        <span></span>
                                    </div>
                                    Популярные детали
                                </button>
                            </div>
                        </div>
                        <div class="arrow-fixed-wrapper">
                                <a href="#greeting">
                                    <div class="arrow-fixed">
                                        <div class="arrow arrow-animate">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <div class="arrow arrow-animate">
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <div class="arrow arrow-animate">
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog">
            <div class="container">
                <h2 id="greeting" class="greeting show-animation">Универсальный каталог</h2>
                <form class="catalog-search search show-animation" action="#">
                    <span class="parameters">Подбор по параметрам</span>
                    <input type="text" class="search-input" placeholder="Поиск по каталогу">
                    <button class="search-btn red-btn">Найти</button>
                </form>
                <div class="catalog-grid">
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Масла и технические жидкости</span>
                        <span class="catalog-desc">Поиск технических жидкостей по параметрам</span>
                    </div>
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Шины и диски</span>
                        <span class="catalog-desc">Поиск шин и дисков по параметрам</span>
                    </div>
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Автохимия и косметика</span>
                        <span class="catalog-desc">Поиск продукции за уходом автомобиля</span>
                    </div>
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Автопринадлежности</span>
                        <span class="catalog-desc">Поиск аксессуаров для автомобиля</span>
                    </div>
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Товары для дома</span>
                        <span class="catalog-desc">Поиск аксессуаров и бытовой техники</span>
                    </div>
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Инструменты</span>
                        <span class="catalog-desc">Поиск оборудования для автомобиля и дома</span>
                    </div>
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Сувенирная продукция</span>
                        <span class="catalog-desc">Поиск аксессуаров с фирменной символикой</span>
                    </div>
                    <div class="catalog-card show-animation">
                        <span class="catalog-greeting">Автозапчасти</span>
                        <span class="catalog-desc">Поиск автозапчастей</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <ul class="nav">
                <li><a href="#">Компания</a></li>
                <li><a href="#">Клиентам</a></li>
                <li><a href="#">Поставщикам</a></li>
            </ul>
            <ul>
                <li><a href="#">
                        <img src="{% static 'outletauto/assets/imgs/icon/vk.svg' %}" alt="vk">
                    </a></li>
                <li><a href="#">
                        <img src="{% static 'outletauto/assets/imgs/icon/вацап.svg' %}" alt="whatsapp">
                    </a></li>
                <li><a href="#">
                        <img src="{% static 'outletauto/assets/imgs/icon/telegram.svg' %}" alt="telegram">
                    </a></li>
            </ul>
        </div>
    </div>
    <!-- HTML-код модального окна -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Регистрация / Авторизация</h2>
        <div id="registration-form">
          <h3>Регистрация</h3>
          <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ signup_form.as_p }}
            <button type="submit">Зарегистрироваться</button>
          </form>
        </div>
        <div id="login-form">
          <h3>Авторизация</h3>
          <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit">Войти</button>
          </form>
        </div>
      </div>
    </div>
    <div class="burger-nav-wrapper">
        <div class="container">
            <div class="logotype">
                <img src="{% static 'outletauto/assets/imgs/logotype.svg' %}" alt="logotype">
            </div>
            <div class="nav-content">
                <ul class="col">
                    <span class="col-greeting">Каталоги</span>
                    <li><a href="#">Универсальный каталог</a></li>
                    <li><a href="#">Масла и технические жидкост</a></li>
                    <li><a href="#">Автохимия и косметика</a></li>
                    <li><a href="#">Автопринадлежности</a></li>
                    <li><a href="#">Инструменты: авто, дом и сад</a></li>
                    <li><a href="#">Шины и диски (параметры)</a></li>
                    <li><a href="#">Аксессуары</a></li>
                </ul>
                <ul class="col">
                    <span class="col-greeting">Клиентам</span>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Скидки</a></li>
                    <li><a href="#">Спецпредложения</a< /li>
                    <li><a href="#">Мобильное приложение</a></li>
                    <li><a href="#">Подарочные сертификаты</a></li>
                    <li><a href="#">Видеоинструкции</a></li>
                    <li><a href="#">Как сделать заказ</a></li>
                    <li><a href="#">Способы оплаты</a></li>
                    <li><a href="#">Способы возврата оплаты</a></li>
                    <li><a href="#">Условия доставки</a></li>
                    <li><a href="#">Условия работы для клиентов</a></li>
                </ul>
                <ul class="col">
                    <span class="col-greeting">Компания</span>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Магазины</a></li>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Полезное</a></li>
                    <li><a href="#">Франшиза OutletAvto</a></li>
                    <li><a href="#">Реклама на сайте</a></li>
                </ul>
            </div>
            <div class="burger-btns">
                <div class="closed-nav">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'outletauto/assets/js/index.js' %}"></script>
    <script src="{% static 'outletauto/assets/js/dropped.js' %}"></script>
    <script src="{% static 'outletauto/assets/js/elem-shiow.js' %}"></script>
<!--    <script src="{% static 'outletauto/assets/js/show-arrow.js' %}"></script>-->
<!--    <script src="{% static 'outletauto/assets/js/news-slider.js' %}"></script>-->
    <script src="{% static 'outletauto/assets/js/registration.js' %}"></script>
</body>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</html>