{% load static %}
{% load socialaccount %}

<!-- HTML-код модального окна -->
<div id="myModal" class="modal">
    <div class="wrapper registration silver-bg">
        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <h1 class="title">Регистрация пользователя</h1>
                    <p class="description">Регистрация необходима для отображения актуальных цен и реальных сроков
                        поставки на интересующие
                        вас товары.
                        Выберите удобный для вас магазин, а также укажите реальные контактные данные – они потребуются
                        для завершения процедуры регистрации.</p>
                    <div class="tab-wrapper">
                        <div class="row-2 tab-interface">
                            <div>
                                <input type="button" value="Физическое лицо" class="transparent-btn tab-btn btn-active" data-tab="1">
                            </div>
                            <div>
                                <input type="button" value="Юридическое лицо" class="transparent-btn tab-btn" data-tab="2">
                            </div>
                        </div>
                        {% csrf_token %}
                        <form method="post" class="tab tab-active">
                            <div class="row-2">
                                <div>
                                    {{ fizform.shop_name }}
                                    {{ fizform.full_name }}
                                </div>
                                <div>
                                    {{ fizform.phone }}
                                    {{ fizform.email }}
                                    {{ fizform.promo_code }}
                                </div>
                            </div>
                            <div class="check-center">
                                <div class="check-with-label-wrapper">
                                    {{ fizform.terms_of_service }}
                                    {{ fizform.terms_of_service.label }}
                                </div>

                                <input type="submit" value="Сохранить" class="red-btn">
                            </div>
                        </form>
                        {% csrf_token %}
                        <form method="post" class="tab">
                            <div class="row-2">
                                <div>
                                    {{ urform.city }}
                                    {{ urform.shop }}
                                    {{ urform.phone }}
                                    {{ urform.email }}
                                    {{ urform.full_name }}
                                    <div class="row-2">
                                        {{ urform.password }}
                                        {{ urform.password2 }}
                                    </div>
                                    <p class="warning">Для обеспечения информационной безопаности не указывайте
                                        пароли,
                                        которые используете
                                        на других сайтах</p>
                                </div>
                                <div>
                                    <div class="row-2">
                                        {{ urform.forma }}
                                        {{ urform.company_name }}
                                    </div>
                                    {{ urform.legal_address }}
                                    <div class="row-2">
                                        {{ urform.inn }}
                                        {{ urform.kpp }}
                                    </div>
                                    {{ urform.bank }}
                                    {{ urform.bik }}
                                    {{ urform.account_number }}
                                    {{ urform.correspondent_account }}
                                </div>
                            </div>
                            <div class="check-center">
                                <div class="check-with-label-wrapper">
                                    {{ urform.terms_of_service }}
                                    {{ urform.terms_of_service.label }}
                                </div>
                                <input type="submit" value="Сохранить" class="red-btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
