// font-family: 'Lato', sans-serif;
@font-face {
    font-family: "Lato";
    src : url("../../fonts/Lato/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src : url("../../fonts/Lato/Lato-Bold.ttf");
    font-weight: 700;
}