@media (min-width: 1400px) {
    .container {
        max-width: 1160px;
    }
}

@media (min-width: 1400px) and (max-height: 785px) {
    .offer {
        .title {
            margin-bottom: 190px;
        }

        .arrow-fixed-wrapper {
            position: relative;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
        }
    }
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1160px;
    }

    .catalog {
        .catalog-search {

            .search-input,
            .search-btn,
            .parameters {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1400px) and (max-height: 785px) {
    .offer {
        .title {
            margin-bottom: 190px;
        }

        .arrow-fixed-wrapper {
            position: relative;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
        }
    }
}

@media (max-width: 1200px) {

    .universal-catalog-tire-3 {
        .content {
            .table {
                .table-header {
                    div:last-child {
                        min-width: auto;
                    }
                }

                .table-body .table-list .hidden-list .list-content div:nth-child(5) {
                    min-width: auto;
                }
            }
        }
    }

    .universal-catalog-tire {
        .card-product {
            grid-template-columns: 275px 1fr;

            .card-info {
                .product-name {
                    font-size: 16px;
                }

                .product-data,
                .product-title {

                    .num,
                    .name {
                        font-size: 14px;
                    }
                }

                .red-btn {
                    font-size: 16px;
                }
            }
        }
    }

    .universal-catalog-card {
        grid-template-columns: 440px 1fr;
    }

    .catalog {
        .tab-wrapper {
            .tab {
                grid-template-columns: 250px 654px;

                .tab-card-wrapper {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

    .container {
        max-width: 960px;
    }

    header {
        .header-contact {
            a {
                font-size: 16px;
            }
        }

        .header-search {
            width: 42%;
            margin-left: 00px;
        }

        .header-contact {
            width: 40%;
        }
    }

    .offer {
        .title {
            font-size: 36px;
            margin-bottom: 250px;
        }

        .offer-btn-wrapper {
            .circle {
                width: 80px;
                height: 80px;
                top: -6.5px;

                .cirle-content {
                    width: 65px;
                    height: 65px;
                }
            }
        }

        .content-column {
            .circle-btn-wrapper {
                padding: 12.5px 0px 12.5px 55px;
            }
        }

        .transparent-wrapper {
            .transparent-btn {
                &:last-child {
                    margin-left: 25px;
                }
            }
        }

        .content-wrapper {
            .content-column {
                gap: 20px;

                .example {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    padding-right: 15px;
                    font-size: 9px;

                    span {
                        &:last-child {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }

    .catalog {
        .greeting {
            font-size: 36px;
        }

        .catalog-search {
            justify-content: space-between;

            .search-input,
            .search-btn,
            .parameters {
                font-size: 18px;
            }

            .search-input {
                width: 55%;
            }
        }
    }
}

@media (max-width: 1200px) and (max-height: 785px) {
    .offer {
        .title {
            margin-bottom: 190px;
        }

        .arrow-fixed-wrapper {
            position: relative;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
        }
    }
}

@media screen and (max-width: 992px) {

    .universal-catalog-tire-3 {

        .content {
            .mobile-info {
                display: inherit;
            }

            .table {
                .table-header {
                    display: none;
                }

                .table-body {
                    .table-list .hidden-list .list-content {
                        grid-template-columns: 1fr 1fr 1fr;

                        div:nth-child(1) {
                            grid-column-start: 1;
                            grid-column-end: 2;
                        }

                        div:nth-child(2) {
                            grid-row-start: 2;
                            grid-row-end: 3;
                            grid-column-start: 1;
                            grid-column-end: 2;
                        }

                        div:nth-child(3) {
                            grid-row-start: 1;
                            grid-row-end: 3;
                        }
                    }
                }
            }

            .arrow {
                .mobile-nav {
                    display: flex;
                }
            }
        }

        .content .table .table-body .table-list .show-list {
            grid-template-columns: 1fr 1fr;

            .col {
                grid-column: auto !important;

                &:last-child {
                    min-width: auto;
                    justify-content: flex-end;

                    .delivery,
                    .order-info {
                        display: none;
                    }

                    .price {
                        margin-right: 15px;
                    }
                }

                grid-column: 1;
            }
        }

    }

    .universal-catalog-tire {

        .tab-wrapper {
            grid-template-columns: 1fr;
        }

        .row {
            .mobile-visable {
                display: flex;
            }
        }

        .row {
            .mobile-hidden {
                display: none;
            }
        }

        .transparent-btn {
            height: 30px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;

            min-width: 140px;
            justify-content: center;
        }
    }

    .universal-catalog-card {
        .content {
            .card-product {
                grid-template-columns: 1fr;

                .image-wrapper {
                    height: 300px;

                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }

                .card-product__info {
                    .row {
                        grid-template-columns: 225px 1fr;
                    }
                }
            }

            .reviews {
                grid-template-columns: 1fr 1fr;
                gap: 25px;

                .comment {
                    .name {
                        font-size: 14px;
                    }

                    .comment-info {
                        display: flex;
                        flex-direction: column;

                        .inf {
                            margin-top: 10px;
                        }
                    }

                    .comment-text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .payment {
        .circle-btn {
            max-width: 100%;
            font-size: 14px;
        }
    }

    .catalog {
        .tab-wrapper {
            .tab {
                grid-template-columns: 210px 454px;
            }
        }
    }

    .favorite {
        .retention {
            .not-empty {
                grid-template-columns: 1fr 1fr;
                gap: 40px;
            }
        }
    }

    .basket {
        .retention {
            .not-empty {
                .product-interface {
                    margin-top: 20px;

                    .product-info {
                        display: flex;
                        flex-direction: column;

                        .total {
                            order: 1;

                            .title-info {
                                font-size: 16px;

                                .bold {
                                    font-size: 18px;
                                }
                            }
                        }

                        .bonus {
                            order: 2;
                            font-size: 16px;
                        }

                        .total-price-wrapper {
                            order: 3;

                            .title-text {
                                font-size: 24px;
                            }

                            .title-price {
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }

                        .input-silver {
                            order: 4;
                            font-size: 16px;
                        }

                        .red-btn {
                            font-size: 18px;
                            margin-top: 20px;
                            order: 5;
                        }

                        .banner {
                            order: 6;
                        }

                        .red-btn,
                        .input-silver {
                            max-width: 360px;
                        }
                    }
                }
            }

            .card-wrapper {
                .card {
                    grid-template-columns: minmax(0px, 108px) 1fr;
                    gap: 10px;

                    .check-with-label-wrapper {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        order: 1;
                    }

                    .card-destroy {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        order: 2;
                        justify-content: end;
                    }

                    .card-wrapper {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        order: 3;
                    }

                    .card-info {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        order: 4;
                    }

                    .card-price-info {
                        order: 5;
                        grid-column-start: 1;
                        grid-column-end: 3;
                        flex-direction: row;
                    }
                }
            }
        }
    }

    .news {
        .content {
            .news-card {
                .card-content {
                    width: 60%;

                    .card-description {
                        width: 100%;
                    }
                }
            }
        }
    }

    .auth-on {
        li {
            margin-left: 14px !important;
            font-size: 14px;
            align-items: start;
        }

        .header-nav {
            width: 73% !important;
        }

        .header-account {
            width: 25% !important;

            .red-btn {
                padding: 5px 15px;
            }
        }
    }

    .container {
        max-width: 720px;
    }

    header {
        .logotype-wrapper {
            .logotype {
                width: 100%;
            }
        }

        .header-row-2 {
            margin-top: 10px;
            align-items: start;

            .header-contact {
                a {
                    &::after {
                        display: none;
                    }
                }
            }

            .header-nav {
                margin-top: 10.5px;

                .basket {
                    display: none;
                }
            }

            .header-account {
                margin-top: 10.5px;
                flex-direction: column;
                align-items: end;

                .account-name {
                    display: flex;
                }

                .basket-wrapper {
                    display: flex;

                    .basket {
                        margin-top: 5px;
                        align-items: center;
                    }
                }
            }
        }

        .header-contact {
            width: 20%;
            flex-direction: column;

            li {
                &:last-child {
                    margin-left: 0px;
                    margin-top: 5px;
                }
            }
        }

        .header-search {
            width: 60%;
            margin-left: 25px;
        }
    }

    .offer {
        min-height: auto;
        height: auto;
        background: linear-gradient(#020202 0%,
                #020202 0%,
                rgba(0, 0, 0, 0) 10%,
                rgba(0, 0, 0, 0) 48%,
                rgba(0, 0, 0, 0) 40%,
                #020202 75%,
                #020202 100%),
            url("../imgs/Главная.png");
        background-color: #020202;
        background-size: 1120px;
        background-position-y: 66px;
        background-position-x: center;
        background-repeat: no-repeat;
        box-shadow: inset 0px calc(-6vh - 2px) 0px #020202;

        .arrow-fixed-wrapper {
            display: none;
        }

        .offer-btn-wrapper {
            .circle-btn-wrapper:first-child {
                justify-content: start !important;
            }
        }

        .offer-content {
            height: auto;
            min-height: auto !important;

            .content-wrapper {
                padding: 0;
            }
        }

        .title {
            margin-bottom: 180px;
        }

        .transparent-wrapper {
            // justify-content: space-between;

            .drop-down-wrapper {
                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }

    .catalog {
        .catalog-search {
            justify-content: space-between;

            .search-input,
            .search-btn,
            .parameters {
                font-size: 14px;
            }

            .search-input {
                width: 53%;
                height: 40px;
            }

            .search-btn {
                height: 40px;
                padding: 10px 50px;
            }
        }

        .catalog-grid {
            .catalog-card {
                padding: 15px;

                .catalog-greeting {
                    font-size: 18px;
                }

                .catalog-desc {
                    font-size: 14px;
                }
            }
        }
    }

    .circle-btn-wrapper {
        padding: 12.5px 0px 12.5px 41px !important;

        .circle-btn {
            padding: 20px 9px 20px 40px;

            .circle {
                top: 32.5px - 35px;
                left: -40px;
                width: 70px;
                height: 70px;

                .cirle-content {
                    width: 60px !important;
                    height: 60px !important;

                    img {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 797px) {
    .offer {
        .offer-content {
            padding-bottom: 0%;
        }
    }
}

@media screen and (max-width: 768px) {
    .self-call {
        .content {
            .tab-interface {
                .tab-btn {
                    font-size: 14px;
                }
            }
            .tab-one {
                .tab-content {
                    grid-template-columns: 1fr;

                    .map {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        div,
                        iframe {
                            max-width: 100% !important;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .universal-catalog-tire {
        .card-product {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .product-image {
                height: 200px;
                max-width: 390px;
            }

            grid-template-columns: 1fr;

            .card-info {
                .red-btn {
                    height: 40px;
                }
            }
        }
    }

    .universal-catalog-card {
        .content {
            .card-product {
                grid-template-columns: 1fr;

                .image-wrapper {
                    height: 300px;

                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }

                .card-product__info {
                    .row {
                        grid-template-columns: 225px 1fr;
                    }
                }
            }

            .reviews {
                grid-template-columns: 1fr;

                .reviews-info {
                    margin-top: 20px;
                    order: 1;
                }

                .stars-review {
                    order: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .stars-bar {
                        max-width: 260px;
                    }

                    .red-btn {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        max-width: 260px;
                        height: 40px;
                    }
                }

                .comment {
                    order: 2;

                    .comment-text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .payment {

        .payment-wrapper {
            grid-template-columns: 1fr;

            .order-1-mob {
                order: 1
            }

            .order-2-mob {
                order: 2
            }

            .order-3-mob {
                order: 3
            }

            .order-4-mob {
                order: 4
            }
        }

        .circle-btn {
            justify-content: flex-start !important;
            font-size: 16px;
        }
    }

    .promotion {
        .title {
            font-size: 20px;
        }

        .title-info {
            font-size: 14px;
        }

        .code {
            .code-title {
                text-align: center;
                font-size: 16px;
            }

            .red-btn {
                max-width: 300px;
                height: 40px;
                font-size: 14px;
            }
        }

        .brought-friends {
            .brought-friends-title {
                text-align: center;
                font-size: 20px;
            }

            .brought-wrapper {
                .card {
                    .card-price {
                        font-size: 14px;
                    }

                    .card-user__name,
                    .card-date,
                    .card-title {
                        font-size: 13px;
                    }

                    .card-date,
                    .card-user__name {
                        margin-top: 5px;
                    }

                    .card-left {
                        align-items: flex-start;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .catalog {
        .tab-wrapper {
            .tab-interface {
                .nav {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;

                    .tab-btn {
                        margin-left: 0;
                    }
                }
            }

            .tab {
                grid-template-columns: 1fr;

                .sidebar {
                    background-color: transparent;
                    border: transparent;
                    z-index: 2;

                    .nav {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: #323030;
                        display: none;
                        flex-direction: column;
                        padding: 20px;

                        .mobile-interface {
                            display: block;
                        }
                    }

                    .active {
                        display: flex;
                        overflow-y: scroll;
                    }

                    .closed-catalog-popup {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                    }
                }
            }
        }
    }

    .sidebar-mobile {
        display: flex;
        flex-direction: column;

        p {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .red-btn {
            height: 40px;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .favorite {
        .retention {
            .not-empty {
                justify-items: center;
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }
    }

    .basket {
        .retention {
            .not-empty {
                grid-template-columns: 1fr;
            }
        }
    }

    footer {
        margin-bottom: 50px;
    }

    .registration {
        .content {
            .row-2 {
                grid-template-columns: 1fr;

                .row-2 {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

    .mobile-bottom-nav {
        display: flex;
    }

    .news {
        .content {
            .news-card {
                .card-img {
                    display: none;
                }

                .card-content {
                    width: 100%;

                    .card-title {
                        font-size: 16px;
                    }

                    .card-description {
                        font-size: 14px;
                    }

                    .card-data {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .auth-on {
        li {
            margin-left: 0px !important;
        }

        .header-account {
            width: 33% !important;
        }

        .header-contact {
            width: 52%;
            align-items: end;
        }
    }

    .burger-nav-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: start;

        .logotype {
            margin-bottom: 20px;
        }

        .container {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
        }

        .nav-content {
            justify-content: center;
            align-items: start;
            flex-direction: column;

            .col {
                margin-top: 20px;

                &:not(:last-child) {
                    margin-right: 0;
                }

                .col-greeting {
                    font-size: 16px;
                }

                li {
                    font-size: 14px;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    footer {
        ul {
            li {
                &:not(:last-child) {
                    margin-right: 25px !important;
                }
            }
        }
    }

    .container {
        max-width: 540px;
    }

    .pc-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    header {
        padding-top: 25px;

        .header-row-2 {
            margin-top: 20px;
            align-items: start;

            .header-account {
                margin-top: 0px;
                align-items: start;
                width: 50%;
            }
        }

        .header-search {
            width: 85%;
            justify-content: end;
        }

        .header-contact {
            width: 50%;
            align-items: end;
        }
    }

    .offer {
        height: auto;
        min-height: auto;
        background: linear-gradient(#020202 10%,
                #020202 0%,
                rgba(0, 0, 0, 0) 36%,
                rgba(0, 0, 0, 0) 69%,
                rgba(0, 0, 0, 0) 3%,
                #020202 84%,
                #020202 100%),
            url(../imgs/Главная.png);
        background-color: #020202;
        background-size: 1120px;
        background-position-y: 24px;
        background-position-x: center;
        background-repeat: no-repeat;
        box-shadow: inset 0px calc(-6vh - 2px) 0px #020202;

        .arrow-fixed-wrapper {
            display: none;
        }

        .title {
            font-size: 30px;
            margin-bottom: 160px;
        }

        .offer-content {
            height: auto;
        }

        .content-wrapper {
            margin-bottom: 0% !important;

            .content-column {
                .offer-btn-wrapper {
                    display: flex;
                    justify-content: space-between;
                }

                .circle-btn-wrapper {
                    .circle-btn {
                        max-width: 100%;
                    }

                    &:first-child {
                        margin-right: 10px;
                    }

                    &:last-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .transparent-wrapper-pc {
            display: none;
        }

        .transparent-wrapper-mobile {
            display: flex;

            .drop-down-wrapper {
                width: 50%;
                max-width: inherit;
                // max-height: 50px;

                &:first-child {
                    width: 49%;
                    margin-right: 10px;
                }

                &:last-child {
                    min-width: 260px;
                    margin-left: 0px;

                    padding-left: 6px;
                }
            }
        }

        .content-wrapper {
            justify-content: center !important;
            margin-bottom: 10%;

            .content-column {
                grid-template-columns: 1fr;

                .example {
                    width: 75%;
                    font-size: 10px;
                    padding-right: 20px;

                    span {
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .offer-content {
        .circle-btn-wrapper {
            &:first-child {
                margin-left: 0 !important;
            }
        }
    }

    .catalog {
        .greeting {
            font-size: 30px;
        }

        .catalog-grid {
            grid-template-columns: 1fr;
        }

        .catalog-search {
            .search-input {
                width: 100%;
                margin-left: 0;
                margin-right: 5px;
                text-overflow: ellipsis;
            }
        }

        .parameters {
            display: none;
        }
    }

    .circle-btn-wrapper {
        width: 50%;

        .circle-btn {
            padding: 20px 20px 20px 40px;
            justify-content: center;
            align-items: center;
            font-size: 14px;

            .circle {
                top: 32.5px - 35px;
                left: -40px;
                width: 70px;
                height: 70px;

                .cirle-content {
                    width: 55px !important;
                    height: 55px !important;

                    img {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .offer {
        .offer-content {
            padding-top: 3%;
        }
    }
}

@media (max-width: 665px) {

    .favorite,
    .basket {
        .retention {
            .empty {
                margin-top: 20px;
                grid-template-columns: 1fr;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    h2 {
                        margin-top: 20px;
                    }

                    p {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .offer {
        background-size: 800px;

        .title {
            margin-bottom: 90px;
        }
    }
}

@media (max-width: 492px) {

    .payment {

        .circle-btn-wrapper:last-child,
        .circle-btn-wrapper {
            margin-left: 0px !important;
        }

        .order-2-mob {
            .circle-btn-wrapper:last-child {
                margin-top: 20px !important;
            }
        }
    }

    .offer {
        background: linear-gradient(#020202 10%,
                #020202 0%,
                rgba(0, 0, 0, 0.2) 16%,
                rgba(0, 0, 0, 0.2) 76%,
                rgba(0, 0, 0, 0.2) 34%,
                #020202 91%,
                #020202 100%),
            url(../imgs/Главная.png);
        background-color: #020202;
        background-repeat: no-repeat;
        background-position-y: 35px;
        background-position-x: center;
        background-size: 760px;
    }
}

@media (max-width: 491px) {
    .offer {
        &::after {
            width: 200%;
            left: -35%;
            bottom: 2vh;
            transform: scale(0.8);
        }
    }

    .registration {
        .content {
            padding: 20px 10px 20px 10px;

            .row-2 {
                grid-template-columns: 1fr;

                .transparent-btn {
                    padding: 10px 0px;
                    font-size: 16px;
                }

                .row-2 {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media (max-width: 456px) {
    .offer {
        background: linear-gradient(#020202 10%,
                #020202 0%,
                rgba(0, 0, 0, 0.2) 16%,
                rgba(0, 0, 0, 0.2) 76%,
                rgba(0, 0, 0, 0.2) 34%,
                #020202 91%,
                #020202 100%),
            url(../imgs/Главная.png);
        background-color: #020202;
        background-repeat: no-repeat;
        background-position-y: 35px;
        background-position-x: center;
        background-size: 550px;
    }

    .universal-catalog-tire-3 {
        .content {
            .table {
                .table-list {
                    .show-list {
                        padding: 10px !important;
                        align-items: center;

                        .col:last-child {
                            align-items: center !important;
                        }

                        .price {
                            font-size: 14px;
                            margin-left: 0px;
                        }
                    }
                }

                .table-body {
                    .table-list {
                        .inf {
                            .name {
                                font-size: 16px;
                            }

                            .type {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 446px) {
    .offer {
        .title {
            margin-bottom: 89px;
        }
    }
}

@media (max-width: 576px) {

    .universal-catalog-card {
        .content {
            .card-product {
                .card-product__info {
                    .row {
                        &:first-child {
                            display: flex;
                            flex-direction: column;

                            .red-btn {
                                margin-top: 15px;
                                max-width: 260px;
                                height: 40px;
                            }
                        }

                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }

    .profile .profile-nav-wrapper .profile-links .profile-link {
        font-size: 16px;
        text-decoration: underline;
    }

    .profile .profile-nav-wrapper .profile-links {
        flex-direction: column;
        align-items: start;
    }

    .profile .profile-nav-wrapper .profile-links li:not(:first-child) {
        margin-top: 5px;
        padding-left: 0px;
    }

    .example {
        flex-direction: column;

        span {
            font-size: 12px;

            &:last-child {
                margin-top: 5px;
            }
        }
    }

    footer {
        ul {
            li {
                font-size: 15px;

                &:not(:last-child) {
                    margin-right: 15px !important;
                }
            }
        }
    }

    .container {
        padding: 0px 20px;
        max-width: 100%;
    }

    .offer {
        .title {
            font-size: 24px;
        }

        .content-wrapper {
            .content-column {
                .circle-btn-wrapper {
                    &:last-child {
                        padding-left: 40px !important;
                    }
                }
            }
        }

        .transparent-btn {
            font-size: 15px;
            padding: 22px 10px 22px 10px;
            display: flex;
            justify-content: start;
            align-items: center;

            svg {
                margin-right: 5px;
            }

            .arrow {
                left: 10%;
                top: 15px;
            }
        }

        .transparent-wrapper-mobile {
            .drop-down-wrapper {
                width: 50% !important;
                font-size: 12px;

                &:last-child {
                    // width: 65% !important;
                    min-width: 100px !important;
                }
            }
        }
    }

    .content-column {
        display: flex !important;
        flex-direction: column;
    }

    .catalog {
        .greeting {
            font-size: 24px;
        }

        .catalog-search {
            .search-btn {
                padding: 10px 20px;
            }
        }
    }
}

@media (max-width: 530px) {
    .basket {
        .retention {
            .not-empty {
                grid-template-columns: 1fr;

                .danger {
                    .danger-text {
                        font-size: 11px;
                    }
                }

                .card-wrapper {
                    .card {
                        grid-template-columns: minmax(0px, 95px) 1fr;

                        .card-info {
                            .card-name {
                                font-size: 16px;
                            }

                            .card-type {
                                display: block;
                                margin-top: 10px;
                                font-size: 14px;
                            }
                        }

                        .card-price-info {
                            .card-price {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 493px) {
    .offer {
        .title {
            font-size: 24px;
        }

        .content-wrapper {
            .content-column {
                .circle-btn-wrapper {
                    &:first-child {
                        margin-right: 0px;
                    }

                    &:last-child {
                        padding-left: 26px !important;
                        margin-left: 8px !important;
                    }

                    .circle-btn {
                        width: 100% !important;
                    }
                }
            }
        }

        .transparent-btn {
            height: 58px;
            padding: 5px;
            text-align: center;

            .arrow {
                top: 20px;
            }
        }
    }

    .circle-btn-wrapper {
        padding: 0px 0px 0px 26px !important;

        width: 100% !important;

        .circle-btn {
            max-width: 100% !important;
            width: calc(100% - 25px) !important;
            font-size: 14px;
            height: 58px;

            .circle {
                left: -25px;
                top: 0px;
                width: 60px;
                height: 60px;

                .cirle-content {
                    width: 50px !important;
                    height: 50px !important;

                    img {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 505px) {
    .profile {
        .content-wrapper {
            margin-top: 32px;
            min-height: calc(100vh - 406px);
        }
    }

    footer {
        .container {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

        ul {
            &:last-child {
                margin-top: 30px;
            }

            li {
                &:not(:last-child) {
                    margin-right: 15px !important;
                }
            }
        }
    }
}

@media (max-width: 461px) {
    .offer {
        .transparent-btn {
            height: 58px;
            padding: 5px;
            text-align: center;
            font-size: 12px;

            .arrow {
                top: 20px;
            }
        }
    }

    .circle-btn-wrapper {
        padding: 0px 0px 0px 25px !important;
        // padding: 0 !important;
        width: 100% !important;

        .circle-btn {
            padding: 20px 10px 20px 20px;
            max-width: 100% !important;
            width: calc(100% - 25px) !important;
            font-size: 12px;
            height: 50px;

            .circle {
                left: -25px;
                top: 0px;
                width: 50px;
                height: 50px;

                .cirle-content {
                    width: 40px !important;
                    height: 40px !important;

                    img {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 424px) {
    .circle-btn-wrapper {

        // padding: 0px;
        &:last-child {
            margin-left: 10px !important;
        }

        .circle-btn {
            width: 100% !important;
            // padding: 0px;
            text-align: center;
        }
    }
}

@media (max-width: 412px) {
    .offer {
        .transparent-btn {
            font-size: 12px;

            svg {
                margin-right: 0px;
            }
        }
    }

    .circle-btn-wrapper {
        .circle-btn {
            font-size: 10px;
        }
    }
}

@media (max-width: 404px) {

    .offer {
        .transparent-btn {
            font-size: 10px;
        }
    }

    .example {
        width: 100% !important;

        span {
            font-size: 11px;
        }
    }

    .offer {
        .content-search {
            .search-input {
                width: 65%;
            }

            .search-btn {
                width: 35%;
            }
        }
    }
}

@media (max-width: 360px) {
    .universal-catalog-tire {
        .row {
            .tab-interface {
                padding: 0;
                margin-bottom: 20px;
            }

            .col {
                width: 100%;
            }
        }

        .drop-down-wrapper {
            width: 100%;

            &:last-child {
                display: flex;
                justify-content: flex-end;
            }

            .transparent-btn {
                margin: 0px;
            }
        }

        .transparent-btn {
            min-width: inherit;
            display: flex;
            width: 100%;
            max-width: 120px;
        }
    }
}

@media (max-width: 348px) {
    .offer {
        .title {
            margin-bottom: 80px;
        }

        .transparent-wrapper {
            .drop-down-wrapper {
                &:first-child {
                    width: 40% !important;
                }

                &:last-child {
                    width: calc(100% - 40%) !important;

                    svg {
                        margin-right: 1em;
                    }
                }
            }
        }
    }
}

@media (max-width: 385px) {
    .circle-btn-wrapper {
        .circle-btn {
            padding: 20px 10px 20px 30px !important;
            font-size: 9px;
        }
    }
}


@media (max-aspect-ratio: 4/3) {
    .offer {
        .offer-content {
            .content-wrapper {
                justify-content: space-around;
            }
        }
    }
}