$min: '(max-width: 576px)';
$sm: '(min-width: 576px) and (max-width: 767px)';
$md: '(min-width: 768px) and (max-width: 991px)';
$lg: '(min-width: 992px) and (max-width: 1200px)';
$xl: '(min-width: 1200px) and (max-width: 1400px)';
$xxl: '(min-width: 1200px) and (max-width: 1400px)';

// colors
$dark-bg: #1B1919;
$dark-bg2: #261C1C;
$lite-bg: #323030;
$lite-color: #FAFAFA;
$lite-scolor: #D8D5D5;
$lite-scolor2: #434343;
$dark-silver: #818080;
$red: #E92020;