footer {
    background-color: #504f4f;
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
        display: flex;
        justify-content: space-between;

        .nav {
            margin-right: 20px;
            li {
                a {
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: #fafafa88;
                        bottom: -5px;
                        left: 0;
                    }
                }
            }
        }

        ul {
            display: flex;
            li:not(:last-child) {
                margin-right: 35px;
            }
            li {
                display: flex;
                align-items: center;
            }
        }
    }
}
