{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница авторизации - OutletAuto</title>
    <link rel="stylesheet" href="{% static 'outletauto/assets/css/style.css' %}">
</head>

<body>
    <div class="wrapper news silver-bg">
        <header>
            <div class="container">
                <div class="pc-header">
                    <div class="header-row-1">
                        <div class="logotype-wrapper header-logotype">
                            <a href="{% static 'outletauto/index.html' %}">
                                <img src="{% static 'outletauto/assets/imgs/logotype.svg' %}" alt="logotype" class="logotype">
                            </a>
                        </div>
                        <form class="header-search search" action="#">
                            <input type="text" class="search-input" placeholder="Поиск по артикулу или VIN коду">
                            <button class="search-btn red-btn">Найти</button>
                        </form>
                        <ul class="header-contact">
                            <li><a href="#">Адреса магазинов</a></li>
                            <li><a href="#">8 (800) 777-99-80</a></li>
                        </ul>
                    </div>
                    <div class="header-row-2 auth-off">
                        <!-- <div class="burger-btns"></div> -->
                        <div class="burger-wrapper burger-btns">
                            <div class="burger-nav">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul class="header-nav">
                            <!-- Не видны при авторизованном аккаунте -->
                            <li><a href="{% url 'html' html='payment' %}">Оплатить заказ</a></li>
                            <li><a href="{% static 'outletauto/pages/cataloog' %}">Каталог</a></li>
                            <li><a href="{% url 'html' html='news-page' %}">Новости</a></li>
                        </ul>
                        <ul class="header-account">
                            <li><a href="{% static 'outletauto/pages/authorization.html' %}">Личный кабинет</a></li>
                        </ul>

                    </div>
                    <div class="header-row-2 auth-on">
                        <div class="burger-wrapper burger-btns">
                            <div class="burger-nav">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul class="header-nav">
                            <!-- Видны при авторизованном аккаунте-->
                            <li><a href="#">Заказы</a></li>
                            <li><a href="#">Гараж</a></li>
                            <li><a href="#">Баланс</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li><a href="{% static 'outletauto/pages/cataloog' %}">Каталог</a></li>
                            <li><a href="#">Запросы по VIN</a></li>
                            <li class="basket"><img src="{% static 'outletauto/assets/imgs/icon/basket__shop.svg' %}" alt="basket"><a
                                    href="{% static 'outletauto/pages/basket.html' %}">Корзина</a></li>
                        </ul>
                        <ul class="header-account">
                            <ul class="account-name">
                                <li><a href="{% static 'outletauto/pages/profile.html' %}">RDN-12454</a></li>
                                <li><input type="button" class="red-btn" value="Акция"></li>
                            </ul>
                            <ul class="basket-wrapper">
                                <li class="basket"><img src="{% static 'outletauto/assets/imgs/icon/basket__shop.svg' %}" alt="basket"><a
                                        href="{% static 'outletauto/pages/basket.html' %}">Корзина</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="mobile-header">
                    <div class="header-row-1">
                        <div class="burger-wrapper burger-btns">
                            <div class="burger-nav">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <form class="header-search search" action="#">
                            <input id="header-search" type="text" class="search-input"
                                placeholder="Поиск по артикулу или VIN коду">
                            <button class="search-btn red-btn">Найти</button>
                        </form>
                    </div>
                    <div class="header-row-2 auth-off">
                        <ul class="header-account">
                            <li><a href="{% static 'outletauto/pages/authorization.html' %}">Личный кабинет</a></li>
                        </ul>
                        <ul class="header-contact">
                            <li><a href="#">Адреса магазинов</a></li>
                            <li><a href="#">8 (800) 777-99-80</a></li>
                        </ul>
                    </div>
                    <div class="header-row-2 auth-on">
                        <ul class="header-account">
                            <li><a href="{% static 'outletauto/pages/profile.html' %}">RDN-12454</a></li>
                        </ul>
                        <ul class="header-contact">
                            <li><a href="#">Адреса магазинов</a></li>
                            <li><a href="#">8 (800) 777-99-80</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <ul class="nav">
                    <li><a href="#">Компания</a></li>
                    <li><a href="#">Клиентам</a></li>
                    <li><a href="#">Поставщикам</a></li>
                </ul>
                <ul>
                    <li><a href="#">
                            <img src="{% static 'outletauto/assets/imgs/icon/vk.svg' %}" alt="vk">
                        </a></li>
                    <li><a href="#">
                            <img src="{% static 'outletauto/assets/imgs/icon/вацап.svg' %}" alt="whatsapp">
                        </a></li>
                    <li><a href="#">
                            <img src="{% static 'outletauto/assets/imgs/icon/telegram.svg' %}" alt="telegram">
                        </a></li>
                </ul>
            </div>
        </footer>

    </div>
    <script src="{% static 'outletauto/assets/js/--authorization.js' %}"></script>
</body>

</html>