{% load static %}
{% load socialaccount %}


<header>
    <div class="container">
        <div class="pc-header">
            <div class="header-row-1">
                <div class="logotype-wrapper header-logotype">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'outletauto/assets/imgs/logotype.svg' %}" alt="logotype"
                            class="logotype">
                    </a>
                </div>
                <form class="header-search search" action="#">
                    <input type="text" class="search-input" placeholder="Поиск по артикулу или VIN коду">
                    <button class="search-btn red-btn">Найти</button>
                </form>
                <ul class="header-contact">
                    <li><a href="#">Адреса магазинов</a></li>
                    <li><a href="#">8 (800) 777-99-80</a></li>
                </ul>
            </div>
            {% if not user.is_authenticated %}
                <div class="header-row-2 auth-off">
                    <!-- <div class="burger-btns"></div> -->
                    <div class="burger-wrapper burger-btns">
                        <div class="burger-nav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <ul class="header-nav">
                        <!-- Не видны при авторизованном аккаунте -->
                        <li><a href="{% url 'html' html='payment' %}">Оплатить заказ</a></li>
                        <li><a href="{% url 'html' html='catalog' %}">Каталог</a></li>
                        <li><a href="{% url 'html' html='news' %}">Новости</a></li>
                    </ul>
                    <ul class="header-account">
                        <li>
                            <a id="RegBtn">ЛК</a>/
                            <a id="LogBtn">Войти</a>

                        </li>
                    </ul>

                </div>
            {% else %}
                <div class="header-row-2 auth-on">
                    <div class="burger-wrapper burger-btns">
                        <div class="burger-nav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <ul class="header-nav">
                        <!-- Видны при авторизованном аккаунте-->
                        <li><a href="#">Заказы</a></li>
                        <li><a href="#">Гараж</a></li>
                        <li><a href="#">Баланс</a></li>
                        <li><a href="#">Избранное</a></li>
                        <li><a href="{% url 'html' html='catalog' %}">Каталог</a></li>
                        <li><a href="#">Запросы по VIN</a></li>
                        <li><img src="{% static 'outletauto/assets/imgs/icon/basket__shop.svg' %}" alt=""><a
                                href="#">Корзина</a></li>
                    </ul>
                    <ul class="header-account">
                        <li><a href="{% static 'outletauto/pages/profile.html' %}">RDN-12454</a></li>
                        <li>

                            {% csrf_token %}

                            <a href="{% url 'account_profile' %}">ЛК</a>/
                            <a href="{% url 'logout' %}" class="logout-link">Выйти</a>

                        </li>
                        <li><input type="button" class="red-btn" value="Акция"></li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="mobile-header">
            <div class="header-row-1">
                <div class="burger-wrapper burger-btns">
                    <div class="burger-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <form class="header-search search" action="#">
                    <input id="header-search" type="text" class="search-input"
                        placeholder="Поиск по артикулу или VIN коду">
                    <button class="search-btn red-btn">Найти</button>
                </form>
            </div>
            {% if not user.is_authenticated %}
                <div class="header-row-2 auth-off">
                    <ul class="header-account">
                        <li>
                            <a id="RegBtn">Личный кабинет</a>/
                            <a id="LogBtn">Войти</a>

                        </li>
                    </ul>
                    <ul class="header-contact">
                        <li><a href="#">Адреса магазинов</a></li>
                        <li><a href="#">8 (800) 777-99-80</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="header-row-2 auth-on">
                    <ul class="header-account">
                        <li><a href="{% static 'outletauto/pages/profile.html' %}">RDN-12454</a></li>
                        <li>

                            <a href="{% url 'account_dashboard' %}">Личный кабинет</a>/
                            <a href="{% url 'account_logout' %}" class="logout-link">Выйти</a>

                        </li>
                    </ul>
                    <ul class="header-contact">
                        <li><a href="#">Адреса магазинов</a></li>
                        <li><a href="#">8 (800) 777-99-80</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</header>


