{% extends 'base/base2.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <h2 class="title">О компании</h2>
                    <p class="paragraph">OULET авто – ведущий продавец автозапчастей в России с 1998 года.
                        На сегодняшний день мы являемся одним из лидеров по продажам автомобильных товаров от ведущих
                        мировых производителей. <br />
                        OULET авто сотрудничает с такими известными брендами, как Kayaba, Total, Liqui Moly, Motul,
                        Sangsin Brake и многими другими. Прайс-листы компании насчитывают более 200 млн. предложений по
                        22 млн. наименованиям 3 000 торговых марок. Мы ежедневно обновляем электронные каталоги, чтобы
                        Вы всегда могли получить актуальную информацию и найти нужные Вам автозапчасти в одном месте, не
                        тратя время на поиски. <br />
                        Благодаря надежным и налаженным схемам взаимодействия AUTODOC.RU осуществляет поставки с
                        центральных складов основных автопроизводителей России (группа VAG, Toyota, Nissan, Mercedes
                        Benz, Ford, Mobis и др.), крупных оптовых складов автозапчастей, а также доставляет запчасти из
                        ОАЭ, Японии, США, Германии и Кореи.<br />
                        Каждый клиент OULET авто получает персонального менеджера, который отслеживает всю цепочку от
                        размещения заказа до его получения. Если вы затрудняетесь с выбором, то персональный менеджер
                        сможет ответить на все Ваши вопросы, предоставить необходимую информацию о производителях и
                        помочь с выбором.<br />
                        Также Вы всегда можете оставить запрос на подбор детали по VIN-коду Вашего авто, и наши
                        специалисты в минимальное время придут Вам на помощь.<br />
                        Высокий профессионализм наших сотрудников и индивидуальный подход к каждому покупателю,
                        позволяют предоставлять клиентам только качественные запчасти и строго соблюдать обязательства
                        по логистике!</p>
                    <div class="logotype-wrapper">
                        <img class="logotype" src="{% static 'outletauto/assets/imgs/logotype.svg' %}" alt="logotype">
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'outletauto/assets/js/index.js' %}"></script>

{% endblock %}
