{% extends 'base/base2.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <div class="found-modifications">
                        <span class="found-title">Найденные модификации</span>
                        <div class="found-card found-modification-card">
                            <div>
                                <ul>
                                    <li><span><span class="bold">Бренд: </span></span><span>ABARTH</span></li>
                                    <li><span><span class="bold">displacement </span> 1368 PT (CC1.4)</span></li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><span><span class="bold">Каталог: </span>CFIAT84</span></li>
                                    <li><span><span class="bold">fuel: </span>БЕНЗИН (CMBBZ)</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="select-modification">
                        <span class="found-title">Выберите модификацию</span>
                        <div class="row">
                            <div class="col">
                                <div class="found-card">
                                    <div class="row-card">
                                        <ul>
                                            <li><span><span class="bold">BodyworkType</span></span> <span>BN.W/ REAR END DOOR (TC2V)</span></li>
                                            <li><span><span class="bold">Drive</span></span> <span>LEFT (GSX)</span></li>
                                            <li><span><span class="bold">MVS</span></span> <span>150695001000</span></li>
                                            <li><span><span class="bold">MVSDesc</span></span><span>1.4 16V L10 FERRARI GS.5M-I/CE</span></li>
                                            <li><span><span class="bold">Power</span></span><span>1.4 180 HP (KW132)</span></li>
                                            <li><span><span class="bold">Trimlevel</span></span><span>LEV.10 (FERRARI TRIBUTE) (LL10)</span></li>
                                            <li><span><span class="bold">Модель</span></span><span>LEV.3R (FERRARI TRIBUTE) (LL10)</span></li>
                                            <li><span><span class="bold">Наименование</span></span><span>CINQUECENTO ABARTH [NUOVA 500 ABARTH (2008-2012)]</span></li>
                                        </ul>

                                        <button class="red-btn">Выбрать</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="found-card">
                                    <div class="row-card">
                                        <ul>
                                            <li><span><span class="bold">BodyworkType</span></span> <span>BN.W/ REAR END DOOR (TC2V)</span></li>
                                            <li><span><span class="bold">Drive</span></span> <span>LEFT (GSX)</span></li>
                                            <li><span><span class="bold">MVS</span></span> <span>150695001000</span></li>
                                            <li><span><span class="bold">MVSDesc</span></span><span>1.4 16V L10 FERRARI GS.5M-I/CE</span></li>
                                            <li><span><span class="bold">Power</span></span><span>1.4 180 HP (KW132)</span></li>
                                            <li><span><span class="bold">Trimlevel</span></span><span>LEV.10 (FERRARI TRIBUTE) (LL10)</span></li>
                                            <li><span><span class="bold">Модель</span></span><span>LEV.3R (FERRARI TRIBUTE) (LL10)</span></li>
                                            <li><span><span class="bold">Наименование</span></span><span>CINQUECENTO ABARTH [NUOVA 500 ABARTH (2008-2012)]</span></li>
                                        </ul>

                                        <button class="red-btn">Выбрать</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="found-card">
                                    <div class="row-card">
                                        <ul>
                                            <li><span><span class="bold">BodyworkType</span></span> <span>BN.W/ REAR END DOOR (TC2V)</span></li>
                                            <li><span><span class="bold">Drive</span></span> <span>LEFT (GSX)</span></li>
                                            <li><span><span class="bold">MVS</span></span> <span>150695001000</span></li>
                                            <li><span><span class="bold">MVSDesc</span></span><span>1.4 16V L10 FERRARI GS.5M-I/CE</span></li>
                                            <li><span><span class="bold">Power</span></span><span>1.4 180 HP (KW132)</span></li>
                                            <li><span><span class="bold">Trimlevel</span></span><span>LEV.10 (FERRARI TRIBUTE) (LL10)</span></li>
                                            <li><span><span class="bold">Модель</span></span><span>LEV.3R (FERRARI TRIBUTE) (LL10)</span></li>
                                            <li><span><span class="bold">Наименование</span></span><span>CINQUECENTO ABARTH [NUOVA 500 ABARTH (2008-2012)]</span></li>
                                        </ul>

                                        <button class="red-btn">Выбрать</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'outletauto/assets/js/tabs.js' %}"></script>
    <script src="{% static 'outletauto/assets/js/index.js' %}"></script>
    <script src="{% static 'outletauto/assets/js/dropped.js' %}"></script>

{% endblock %}
