{% extends 'base/base2.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <div class="new-content">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="card-img" class="image-r news-image">
                        <span class="date">19.04.2023</span>
                        <h2 class="title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</h2>
                        <p>
                            Компания BMW представила длиннобазные модели X1 и iX1 на автосалоне в Шанхае. Модели
                            «сделано в Китае для Китая» имеют длину 4616 мм и колесную базу длиной 2802 мм. Они на 116
                            мм и 110 мм соответственно длиннее стандартного X1. За счет увеличения размеров удлинились
                            задние двери. Кроме того, кроссовер получил широкую панорамную крышу, а также удобные задние
                            сиденья с большим количеством свободного места для ног.
                            Версия X1 sDrive20Li будет поставляться с 1,5-литровым трехцилиндровым двигателем мощностью
                            154 л. с. До «сотни» данная модель разгоняется за 9,2 секунды, а ее максимальная скорость
                            составляет 206 км/ч. Покупателям также доступна версия 25Li с 2,0-литровым
                            четырехцилиндровым двигателем мощностью 201 л. с. и крутящим моментом 300 Нм.
                            Версия X1 sDrive20Li будет поставляться с 1,5-литровым трехцилиндровым двигателем мощностью
                            154 л. с. До «сотни» данная модель разгоняется за 9,2 секунды, а ее максимальная скорость
                            составляет 206 км/ч. Покупателям также доступна версия 25Li с 2,0-литровым
                            четырехцилиндровым двигателем мощностью 201 л. с. и крутящим моментом 300 Нм. С опциональной
                            системой полного привода модель может разгоняться от 0 до 100 км/ч за 7,7 секунды и
                            достигать максимальной скорости в 227 км/ч.
                            Что касается комплектации, то базовый X1 sDrive20Li оснащен светодиодными фарами, панорамной
                            стеклянной крышей и 18-дюймовыми легкосплавными дисками. В салоне установлены спортивные
                            сиденья с отделкой кожей Veganza, спортивный руль с кожаной обивкой и использована глянцевая
                            черная отделка. Завершают список обновлений 10,25-дюймовая цифровая приборная панель и
                            10,7-дюймовая информационно-развлекательная система под управлением OS 9.
                            О iX1 с удлиненной базой известно совсем мало. Производитель отмечает, что модель оснащена
                            системой полного привода с двумя двигателями и полностью закрытой «скульптурной решеткой».
                            Напомним, что европейская версия iX1 xDrive30 имеет аккумуляторную батарею емкостью 64,7
                            кВтч, полный привод и двухмоторную систему с общей мощностью 308 л. с. и крутящим моментом
                            494 Нм. Это позволяет модели разгоняться от 0 до 100 км/ч за 5,6 секунды и достигать
                            максимальной скорости 180 км/ч. Что еще более важно, автомобиль может проехать до 439 км без
                            подзарядки.
                        </p>
                    </div>
                    <div class="new-images">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                        <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="image" class="image-r news-image">
                    </div>
                    <div class="all-news">
                        <span class="news-title">Посмотреть другие новости</span>
                        <div class="news-card">
                            <div class="card">
                                <span class="card-date">19.04.2023</span>
                                <p class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</p>
                            </div>
                            <div class="card">
                                <span class="card-date">19.04.2023</span>
                                <p class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</p>
                            </div>
                            <div class="card">
                                <span class="card-date">19.04.2023</span>
                                <p class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</p>
                            </div>
                            <div class="card">
                                <span class="card-date">19.04.2023</span>
                                <p class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'outletauto/assets/js/--authorization.js' %}"></script>

{% endblock %}
