{% extends 'base/base2.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="card-img">
                            <img src="{% static 'outletauto/assets/imgs/card-img.png' %}" alt="cars">
                        </div>
                        <div class="card-content">
                            <span class="card-title">BMW X1 и iX1 с удлинённой базой представили в Шанхае</span>
                            <p class="card-description">Компания BMW представила длиннобазные модели X1 и iX1...</p>
                            <span class="card-data">19.04.2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}