{% extends 'base/base2.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    {% for new in news %}
                    <div class="news-card">
                        <div class="card-img">
                            <a href="{% url 'news_page_page' index=forloop.counter %}">
                                <img src="{{new.image}}" alt="cars">
                            </a>
                        </div>
                        <div class="card-content">
                            <a href="{% url 'news_page_page' index=forloop.counter %}">
                                <span class="card-title">{{new.title}}</span>
                            <p class="card-description">{{new.description}}</p>
                            </a>

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
{% endblock %}