{% extends 'base/base2.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col">
                            <p class="info">Подбор запчастей ABARTH по параметрам</p>
                            <form action="#" class="select-brand">
                                <div class="select-brand-title-wrapper">
                                    <span class="select-brand-title">Выберите бренд</span>
                                </div>
                                <ol class="drop-down-wrapper first">
                                    <input type="text" class="drop-down-value">
                                    <span class="drop-down-title">
                                        ABARTH
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M10.7 17.2997L15.3 12.6997C15.4 12.5997 15.4707 12.4914 15.512 12.3747C15.5533 12.2581 15.5743 12.1331 15.575 11.9997C15.575 11.8664 15.554 11.7414 15.512 11.6247C15.47 11.5081 15.3993 11.3997 15.3 11.2997L10.7 6.69974C10.5167 6.51641 10.2833 6.42474 10 6.42474C9.71667 6.42474 9.48333 6.51641 9.3 6.69974C9.11667 6.88308 9.025 7.11641 9.025 7.39974C9.025 7.68308 9.11667 7.91641 9.3 8.09974L13.2 11.9997L9.3 15.8997C9.11667 16.0831 9.025 16.3164 9.025 16.5997C9.025 16.8831 9.11667 17.1164 9.3 17.2997C9.48333 17.4831 9.71667 17.5747 10 17.5747C10.2833 17.5747 10.5167 17.4831 10.7 17.2997Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                    <ul class="drop-down-list">
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                популярные</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                дешевле</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                дороже</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">По
                                                рейтингу</a>
                                        </li>
                                    </ul>
                                </ol>
                                <ol class="drop-down-wrapper">
                                    <input type="text" class="drop-down-value">
                                    <span class="drop-down-title">
                                        Модель
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M10.7 17.2997L15.3 12.6997C15.4 12.5997 15.4707 12.4914 15.512 12.3747C15.5533 12.2581 15.5743 12.1331 15.575 11.9997C15.575 11.8664 15.554 11.7414 15.512 11.6247C15.47 11.5081 15.3993 11.3997 15.3 11.2997L10.7 6.69974C10.5167 6.51641 10.2833 6.42474 10 6.42474C9.71667 6.42474 9.48333 6.51641 9.3 6.69974C9.11667 6.88308 9.025 7.11641 9.025 7.39974C9.025 7.68308 9.11667 7.91641 9.3 8.09974L13.2 11.9997L9.3 15.8997C9.11667 16.0831 9.025 16.3164 9.025 16.5997C9.025 16.8831 9.11667 17.1164 9.3 17.2997C9.48333 17.4831 9.71667 17.5747 10 17.5747C10.2833 17.5747 10.5167 17.4831 10.7 17.2997Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                    <ul class="drop-down-list">
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                популярные</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                дешевле</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                дороже</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">По
                                                рейтингу</a>
                                        </li>
                                    </ul>
                                </ol>
                                <ol class="drop-down-wrapper last">
                                    <input type="text" class="drop-down-value">
                                    <span class="drop-down-title">
                                        Каталог
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M10.7 17.2997L15.3 12.6997C15.4 12.5997 15.4707 12.4914 15.512 12.3747C15.5533 12.2581 15.5743 12.1331 15.575 11.9997C15.575 11.8664 15.554 11.7414 15.512 11.6247C15.47 11.5081 15.3993 11.3997 15.3 11.2997L10.7 6.69974C10.5167 6.51641 10.2833 6.42474 10 6.42474C9.71667 6.42474 9.48333 6.51641 9.3 6.69974C9.11667 6.88308 9.025 7.11641 9.025 7.39974C9.025 7.68308 9.11667 7.91641 9.3 8.09974L13.2 11.9997L9.3 15.8997C9.11667 16.0831 9.025 16.3164 9.025 16.5997C9.025 16.8831 9.11667 17.1164 9.3 17.2997C9.48333 17.4831 9.71667 17.5747 10 17.5747C10.2833 17.5747 10.5167 17.4831 10.7 17.2997Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                    <ul class="drop-down-list">
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                популярные</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                дешевле</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">Сначала
                                                дороже</a></li>
                                        <li class="drop-down-li"><a class="drop-down-item" href="#">По
                                                рейтингу</a>
                                        </li>
                                    </ul>
                                </ol>
                                <button class="red-btn">Найти</button>
                            </form>
                        </div>
                        <div class="col">
                            <h1>Купить запчасти для ABARTH</h1>
                            <p>Автомобили Abarth итальянского бренда отличаются высокой надежностью, производительностью
                                и комфортном в эксплуатации. Несмотря на отменное европейское качество даже самый
                                надежный автомобиль периодически требует ремонта, для которого важно использовать
                                оригинальные запчасти ABARTH. В таком случае каждая деталь гарантировано будет
                                соответствовать моделям авто разных годов выпуска. Производитель строго соблюдает
                                стандарты качества, поэтому все автозапчасти Абарт, представленные в каталоге, точно
                                соответствуют заявленным техническим параметрам, проверены за наличие брака в заводских
                                условиях и реализуются по доступной цене, которая установлена производителем.</p>
                            <h2>Ассортимент оригинальных запчастей</h2>
                            <p>Чтобы выбрать запчасти, которые точно подойдут к автомобилю, нужно воспользоваться
                                удобным фильтром для поиска деталей в соответствии с типом, годом выпуска и модификацией
                                авто. Для выбора деталей потребуется ввести в строку поиска VIN код автомобиля либо
                                номер детали. Такой вид поиска позволяет подобрать запчасти Абарт из каталога без риска
                                ошибок и неточностей, чтобы исключить вероятность несоответствия.</p>
                            <p>Стоимость оригинальных деталей выше, чем у аналогов, выпускаемых разными заводами по
                                лицензии. Оригинальные комплектующие изготавливаются в заводских условиях по технологии
                                и стандартам производителя, поэтому точно соответствуют техническим параметрам
                                автомобиля. После установки в авто новые запчасти и узлы прослужат длительный срок без
                                рисков выхода из строя и преждевременного износа.</p>
                            <p>На складе в ассортименте есть все автозапчасти ABARTH, которые могут потребоваться для
                                осуществления мелкого текущего или капитального ремонта автотранспортного средства. В
                                наличии есть:</p>
                            <ul class="mark-list">
                                <li><span>кузовные запчасти;</span></li>
                                <li><span>электроника;</span></li>
                                <li><span>тормозные колодки и накладки;</span></li>
                                <li><span>датчики и крепежные элементы;</span></li>
                                <li><span>детали трансмиссии, топливной и воздушной систем;</span></li>
                                <li><span>система кондиционирования и охлаждения двигателя;</span></li>
                                <li><span>свечи, зажигание, тормозная и выхлопная системы;</span></li>
                                <li><span>подвеска, генераторы, стартеры и фильтры;</span></li>
                                <li><span>узлы двигателя.</span></li>
                            </ul>
                            <h2>Как выбрать и заказать детали</h2>
                            <p>Все запчасти ABARTH имеют уникальный номер, который помогает исключить вероятность ошибок
                                при выборе и значительно упростить поиски комплектующих для ремонта. Если вам
                                самостоятельно сложно искать нужную деталь, нет времени на поиски в каталоге или вы не
                                помните номер, воспользуйтесь помощью менеджера. Кроме того, вы можете ввести VIN код
                                автотранспортного средства, чтобы получить актуальное предложение по указанному запросу.
                                Также можно получить дополнительные преимущества, зарегистрировавшись на сайте, чтобы
                                получать специальные предложения и иметь доступ к полному ассортименту комплектующих для
                                конкретно выбранного вами автомобиля.</p>
                            <p>Личный кабинет дает возможность каждому зарегистрированному пользователю получить
                                дополнительные возможности:</p>
                            <ul class="mark-list">
                                <li><span>привязать один или несколько автомобилей к своему личному кабинету для</span>
                                </li>
                                <li><span>иметь доступ к консультации личного менеджера;</span></li>
                                <li><span>максимально быстрого поиска;</span></li>
                                <li><span>видеть актуальные цены и доступные скидки;</span></li>
                                <li><span>отслеживать этап выполнения заказа и его доставку.</span></li>
                            </ul>
                            <p>
                                В нашем интернет магазине вы сможете найти все необходимые запчасти Абарт, которые точно
                                соответствуют заявленным техническим характеристикам, проверены на наличие брака и имеют
                                доступную цену. Для максимального удобства оплатить заказ можно одним из наиболее
                                приемлемых способов: банковской картой, электронными деньгами или наличными при
                                получении товара. Заказ может быть доставлен Почтой России или курьерской службой. Также
                                каждый клиент при желании может самостоятельно забрать свой заказ со склада.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'outletauto/assets/js/tabs.js' %}"></script>
    <script src="{% static 'outletauto/assets/js/index.js' %}"></script>
    <script src="{% static 'outletauto/assets/js/dropped.js' %}"></script>

{% endblock %}
